html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5cm;
}

*, ::after, ::before {
    box-sizing: inherit
}

.body {
    background-color: rosybrown;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.container__image {
    width: 300px;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.background--special {
    background-color: rgb(216, 151, 151);
}